body{
    background-image:url('img/background.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    font-family: "Whitney SSm 4r","Whitney SSm A","Whitney SSm B","Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    color: #008080;
}
.workSpace
{
    background-color: #E6E6FA;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    min-height: 600px;
    min-width: 500px;
    padding-bottom: 10px;
}
.topMenu
{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 10px;
    padding-top: 20px;
}

.topMenu a
{
    padding: 5px;
    border: 1px solid #808080;
    background-color: #F5F5F5;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none; font-size: 1em;
}
.topMenu a:hover{
    color: green;
    background-color: #F5F5DC;
}
.dynamicBlock{
    background-color: #FFF;
    margin: 10px 0px 10px 0px;
    min-height: 500px;
    padding: 10px;
    margin-bottom: 20px;
}

.error{
    color: red;
}

.imageStack img{
    width: 150px;
    height: 150px;
}

.imageStack{
    float: left;
    margin-left: 30px;
    margin-bottom: 10px;
}

.serviceArea{
     overflow-y: hidden;
     margin-left: auto;
     margin-right: auto;    
}

.customSvcPanel{
    background-image:url('img/customSvcArea.png');
    background-repeat: repeat;
    width: 300px;
    height: 450px;
    float: right;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
}

.customSvcInnerPanel
{
    background-color: #fff;
    height: inherit;
    margin: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;  
}
